<module name="es-engine" xmlns="http://wso2.org/projects/jaggery/module.xml">
	<scripts>
		<name>constants</name>
		<path>scripts/constants/constants.js</path>
	</scripts>
		<scripts>
		<name>workflows</name>
		<path>scripts/workflows/workflows.js</path>
	</scripts>
	<scripts>
		<name>interfaces</name>
		<path>scripts/interfaces/interfaces.js</path>
	</scripts>
	<script>
		<name>core</name>
		<path>scripts/core/core.js</path>
	</script>
	<scripts>
		<name>plugins</name>
		<path>scripts/plugins/plugins.js</path>
	</scripts>
	<script>
		<name>engine</name>
		<path>scripts/engine/engine.js</path>
	</script>
</module>